*,
*:after,
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Acme';
  height: 100vh;
  font-weight: 140;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.openingCover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333333;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.welcome {
  font-size: 80px;
  color: #ddd;
  margin-bottom: 0px;
}

.loadingBar {
  position: relative;
  width: 100vw;
  height: 1px;
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.loadingValue {
  position: absolute;
  background-color: #ddd;
  width: 0;
  height: 3px;
}

html::-webkit-scrollbar {
  display: none;
}

.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.opening {
  font-size: 1.5vw;
}

.navbar {
  background: #ddd;
  border-radius: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0%;
  z-index: 50;
}

.navbar:hover {
  background: #ddd;
  border-radius: 50px;
  position: fixed;
  width: 80%;
  top: 0;
  left: 10%;
  right: 10%;
  z-index: 50;
  transition: 0.3s;
}

.navbar a {
  font-size: x-large;
}

.navbar a:hover {
  color: black;
}


.navbar-nav {
  text-align: center;
  gap: 3rem;
}

.entrytyping {
  width: 100%;
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrytext {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.timeline {
  margin-top: 2vh;
  height: 150vh;
}

dotlottie-player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0.5; */
  z-index: -1;
}

/* .dotlottie-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

h1 {
  text-align: center;
  font-weight: 1000;
  color: #777;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.container:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 120vh;
  background: #CCD1D9;
  z-index: 1
}

.timeline-block {
  width: 50%;
  display: flex;
  justify-content: space-around;
  clear: both;
  margin-top: 7vh;
  font-size: larger;
}

.timeline-block:hover {
  background-color: #dddddd;
  border-radius: 50%;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
}

.timeline-content {
  width: 95%;
  padding: 0 30px;
  color: #666
}

.born {
  transform: translateX(100%);
  overflow: hidden;
}

.education {
  transform: translateX(-100%);
}

.work {
  transform: translateX(100%);
  overflow: hidden;
}

.covid {
  transform: translateX(-100%);
}

.tillnow {
  transform: translateX(100%);
  overflow: hidden;
}

h2 {
  writing-mode: vertical-rl;
  margin-top: -30px;
  font-weight: bolder;
  font-size: 50px;
  background-color: #ddd;
}

.html {
  transform: translateX(47%);
  color: #f56c2cff;
}

.css {
  transform: translateX(31%);
  color: #0270baff;
}

.js {
  transform: translateX(54%);
  color: #f7df25ff;
}

.php {
  transform: translateX(27%);
  color: #505c94ff;
}

.mysql {
  transform: translateX(61%);
  color: #00759cff;
}

.ps {
  transform: translateX(69%);
  color: #001d36ff;
}

.ai {
  transform: translateX(38%);
  color: #f29a0cff;
}

.gsap {
  transform: translateX(15%);
  color: #04e046ff;
}

.bs5 {
  transform: translateX(70%);
  color: #6f2cf5ff;
}

.card {
  margin: 10px;
}

.card:hover {
  border: 1px solid black
}

.card a:hover {
  background-color: #ddd;
}

.footertext {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 4px;
  font-family: 'Acme';
  font-size: 3vw;
}

/* RWD */
@media screen and (max-width: 1200px) {
  dotlottie-player {
    transform: translate(-50%, -50%) scale(0.9);
  }

  .container:before {
    left: 8px;
    width: 2px;
    height: 90vh;
  }

  .timeline-block {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5vh;
    font-size: large;
  }

  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }

  .courseContent>.skills {
    scale: 0.8;
  }

  .h2Timeline,
  .h2Skills,
  .h2Collections {
    scale: 0.8;
  }

  .myCollections,
  .getSkills {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1000px) {
  dotlottie-player {
    transform: translate(-50%, -50%) scale(0.8);
  }

  .container:before {
    left: 8px;
    width: 2px;
    height: 90vh;
  }

  .timeline-block {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 3vh;
    font-size: large;
  }

  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }

}

@media screen and (max-width: 768px) {
  dotlottie-player {
    transform: translate(-50%, -50%) scale(0.6);
  }

  .navbar a {
    font-size: larger;
  }

  .navbar-nav {
    gap: 0rem;
  }

  .container:before {
    left: 8px;
    width: 2px;
    height: 90vh;
  }

  .timeline-block {
    width: 100%;
    margin-top: 2vh;
    font-size: initial;
  }

  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }

  .h2Timeline,
  .h2Skills,
  .h2Collections {
    scale: 0.5;
  }

  .myCollections,
  .getSkills {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 550px) {

  .html {
    transform: scale(0.4) translateX(47%);
    color: #f56c2cff;
  }

  .css {
    transform: scale(0.5) translateX(31%);
    color: #0270baff;
  }

  .js {
    transform: scale(0.4) translateX(54%);
    color: #f7df25ff;
  }

  .php {
    transform: scale(0.4) translateX(27%);
    color: #505c94ff;
  }

  .mysql {
    transform: scale(0.4) translateX(85%);
    color: #00759cff;
  }

  .ps {
    transform: scale(0.4) translateX(105%);
    color: #001d36ff;
  }

  .ai {
    transform: scale(0.4) translateX(-30%);
    color: #f29a0cff;
  }

  .gsap {
    transform: scale(0.4) translateX(-50%);
    color: #04e046ff;
  }

  .bs5 {
    transform: scale(0.4) translateX(115%);
    color: #6f2cf5ff;
  }

}

/* 進場文字動畫 */
/* Generated by Animista */
.welcome {
  -webkit-animation: welcome 1.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.2s both;
  animation: welcome 1.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.2s both;
}

@-webkit-keyframes welcome {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes welcome {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}